body {
	background-color: white;
}

header {
	background: white;

}
h1 {
	font-size: 44px;
}

.container {
	width: 600px;
	margin: 0 auto;
}

.post{
	background-color: white;
	margin-top: 40px;
	box-shadow: 1px, 3px, 7px, black; 
}

.post-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.post h2,
.post span {
	padding: 20px 20px;
	margin: 0;
}

span{
	color:rgb(230, 230, 230);
}

img {
	width: 100%;
}


